body{
    margin: 0;
}

.center{
    text-align: center;
}

#sticky{
    position: sticky;
    top: 0;
}

header{
    height: 10vh;
    background-color: black;
    color: white;
    padding: 20px;
    font-size: large;
}
section{
    width: 60vw;
    margin: auto;
}

.container{
    width: 100%;
    background-color: rgb(236, 227, 227, 0.7);
    display:flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 20px;
}

.card{
    box-sizing: border-box;
    width: 27%;
    height: 450px;
    border: solid rgb(168, 164, 164) 2px;
    padding: 15px 10px 5px 10px;
    border-radius: 7px;
    margin: 0.8rem 5px;
    text-align: center;
    box-shadow: rgb(165, 164, 164) 6px 6px;
}

.card:hover{
    width: 30%;
    background-color: rgb(226, 220, 220);
}

.img-card{
    width: 70%;
    height: 44%;
}

span.discount{
    text-decoration: line-through;
}

span.sup{
    vertical-align: super;
}

.title-card{
    font-size: 1.25em;
    font-weight: bold;
}

.price-card{
    font-size: 23px;
    font-weight: bold;
}

button{
    font-weight: bold;
    font-size: 1.25rem;
}

footer{
    background-color: black;
    height: 40px;
}